# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Eclipse
.settings/
.classpath
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath

# IDE
.idea/
*.ipr
*.iws
*.iml

# Logs
logs/
*.log

# Database
*.db
*.sqlite	